<nav id="sidebar">
  <button  type="button" id="sidebarCollapse" class="btn btn-info">
      <i class="fa fa-bars"></i>      
  </button>
  <div class="sidebar-header text-center">
    <h3><%= t "tittle_website" %></h3>
  </div>

  <ul class="list-unstyled components">
    <li>
      <%= link_to t("categorys"), categories_path %>
    </li>
    <li>
        <%= link_to t("rooms"), rooms_path %>
    </li>
    <li>
      <%= link_to t("users"), users_path %>
    </li>
  </ul>
</nav>
